<div style='padding:20px'>
  <br>
  <h4 style='color:#1E61A5;font-weight:bold'><%= @product_description.desc %></h4>
    <table class="table table-bordered" style='border:1px solid #ccc;width:100%'>
      <thead style='background-color:#1e61a5;color:white'>
        <tr>
          <th>Desc</th>
          <th>Middleware</th>
          <th>Product</th>
        </tr>
      </thead>
      <tbody>
        <tr>
            <td><%= @product_description.desc %></td>
            <td><%= @product_description.middleware_id %></td>
            <td><%= @product_description.product_id %></td>
        </th>
     </tbody>
    </table>

 </div>
