<div style='padding:20px'>
  <h3 style='color:#1E61A5;font-weight:bold'>Browse Drugs</h3><br>
  <input type='text'>
  <input type='button' value='Search'><br>
<br>
     <%= render partial: "layouts/partials/category_search" %>
</div>
<div style='position:relative;bottom:-479px'>
  <%= render partial: "layouts/partials/footer" %>
</div>  