<div style='padding:20px'>
     <table class="table table-bordered" style='border:1px solid #ccc;width:100%'>
      <thead style='background-color:#1e61a5;color:white'>
        <tr>
          <th>Name</th>
        </tr>
      </thead>
      <tbody>
      <td><%= @active_ingredient.name %></td>
        </tbody>
    </table>

</div>
