<% if current_user.nil? || current_user && !current_user.is_admin? %>
    <div style='height:888px;padding:20px;word-spacing:5px'>
    <h3 style='color:#257ECF'>Highlighted Medications</h3><br>
    <h4 style='color:black'>Isosorbide Mononitrate (Imdur, Monopark, Monoket)<h4><br>

    <p>Isosorbide mononitrate (Imdur, Monopark, Monoket) is used to prevent or treat angina (chest pain). Isosorbide tablets may be used with other drugs to treat congestive heart failure. They work by relaxing the blood vessels to the heart, so the blood and oxygen supply to the heart is increased.</p>

    <p>Isosorbide mononitrate can cause low blood pressure (hypotension). Other medications, which can reduce blood pressure, may produce additive effects causing serious drops in blood pressure.</p>

    <p>Isosorbide mononitrate belongs to a class of drugs called nitrates. Make sure you discuss with your health professional if you are taking nitrates and:</p>

    <ul>
        <li>might be pregnant</li>
        <li>are taking certain antidepressants</li>
        <li>are taking certain antipsychotics</li>
        <li>are taking quinidine, procainamide, benzodiazepines such as diazepam (Valium) or <li>opiates (e.g. morphine).</li>
        <li>are taking antihypertensives (high blood pressure medicine)</li>
        <li>are taking Sildenafil Citrate (Viagra), Tadalafil (Cialis), or Vardenafil (Levitra)</li>
    <ul>    
    Read more about Isosorbide Mononitrate or view product information.
    </div>
    <div style='position:relative;bottom:-280px'>
      <%= render partial: "layouts/partials/footer" %>
    </div>  
<% elsif current_user && current_user.is_admin %>    
sddddddddddddddd
   <%= link_to 'All Products', :products %>
<% end %>