<div style='padding:20px'>

    <table class="table table-bordered" style='border:1px solid #ccc;width:100%'>
      <thead style='background-color:#1e61a5;color:white'>
        <tr>
          <th>Id</th>
          <th>Name</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><%= @title.id %></td>
          <td><%= @title.name %></td>
        </tr>
      </tbody>
    </table>

  </div> 
