<div style='height:100px;border-radius:0px 0px 0px 30px;background-color:#1E61A5;color:white;font-weight:bold;padding:20px'>
<div style='text-align:center'>Home | Contact Us | Frequently Asked Questions | About us</div><br>
<div style='text-align:center'>© 2018 AIMMS Pharmacy</div>
</div>